*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: rgb(97, 97, 97);
    font-family: Source Sans Pro;
}

.index{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1024px;
}

.index a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    border-bottom: 4px solid rgb(0, 216, 216);
    margin: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.content-limit h3, .content-limit h2{
    text-transform: uppercase;
}

.list li{
    margin: 10px 0;
}

.tab{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: auto;
    max-width: 1200px;
    justify-content: center;
}

.tab .image{
    width: 300px;
    height: 250px;
    background-image: url(/assets2/ortopedia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab .type2{
    background-image: url(/assets2/pediatra2.png); 
}

.tab .type3{
    background-image: url(/assets2/geriatra.png);
}

.tab .type4{
    background-image: url(/assets2/psicologo.png);
}

.tab .type5{
    background-image: url(/assets2/fisioterapia.png);
}

.tab table{
    border-collapse:collapse;
    width: 50%;

}

.tab table th, .tab table td{
    text-align: left;
    padding-left: 10px;
}

.tab table thead th{
    background-color: rgb(0, 216, 216);
    color: white;
    padding: 15px 10px;

}

.tab table tbody tr:nth-of-type(odd){
    background-color: rgb(202, 202, 202);
}

.espec{
    margin-bottom: 30px;
}

@media(max-width:700px){
    .espec .image{
        display: none;
    }

    .tab table{
        width: 90%;
        height: 200px;
    }

    .index{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .index a {
        text-decoration: none;
        color: white;
        border-bottom: 0;
        background-color:rgb(80, 150, 150);
        margin: 0px 0px;
        font-size: 20px;
        padding: 10px;
    }

    .index a:hover{
        background-color: rgb(0, 216, 216);;
    }

    
}

