*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: rgb(97, 97, 97);
    font-family: Source Sans Pro;
}

.logo{
    width: 200px;
}

header {
    background-color: rgb(0, 216, 216);
}

.content-limit{
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.header-content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header-content ul{
    display: flex;
}

.header-content ul li a{
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: white;
}

.section-background{
    position: relative;
    background-image: url(/assets/recepcao.png);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-background::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    
}



.section-background div {

    position: relative;
    left: 0px;
    top: 20px;
    color: white;
    font-size: 40px;
    text-align: left;
    padding: 20px;

}

span{
    font-weight: 300;
    text-transform: uppercase;
}

.section-about-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.section-about-img{
    width: 300px;
}

.specialties-boxes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.s-box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    font-size: 25px;
}

.s-box-img{
    width: 450px;
}

.bottom{
    text-align: center;
    margin: 50px;
}

.bottom a{
    background-color:rgb(0, 199, 199);
    padding: 10px 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
}

.section-contact{
    margin: 0 auto;
}

.aframe{
    margin: 0 auto;
    max-width: 1500px;
}

footer{
    background-color: rgb(0, 158, 158);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 20px;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    position: absolute;
    right: 10px;
    top:20px;
    display:none
    
}

.link-list{
    overflow: hidden;
    transition: all 0.3s;
}

button:focus ~ .link-list{
    height: 200px;
    
}

.link-list li {
    width: 100%;
    padding: 20px;
    
}

.link-list li a:hover,button:hover{
    color: black;
}

@media(max-width:800px){
  button{
    display: flex;
  }

  .link-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    height: 0;
    width: 100%;
}



.section-about-img{
    display: none;
}

.s-box-img{
    width: 300px;
}

.section-background div {
    font-size: 20px;
}

.section-background{
    height: 300px;
}

.content-limit{
    margin: 0 auto;
    max-width: 1024px;
    text-align: left;
    font-size: 20px;
    padding: 40px;
}

header .content-limit{
    padding: 0 20px;
}


footer{
    text-align: center;
}



}

@media(max-width: 1200px){
    .section-about-img{
        display: none;
    }
}



